[Desktop Entry]
Name=CLion IDE
Type=Application
Exec=/opt/clion-{{ app_latest_version.stdout }}/bin/clion.sh
Terminal=false
Icon=/opt/clion-{{ app_latest_version.stdout }}/bin/clion.png
NoDisplay=false
Comment=C/C++ IDE for Professional Developers
Categories= Development;IDE;
