[Desktop Entry]
Name=CompSim
Type=Application
Exec=/opt/CompSim_v0.8.9a-Lin64/CompSim
Terminal=false
Icon=/opt/CompSim_v0.8.9a-Lin64/index.jpeg
NoDisplay=false
Comment=CompSim 
Categories= Development;IDE;
