[Desktop Entry]
Name=Eclipse
Type=Application
Exec=/opt/eclipse/eclipse
Terminal=false
Icon=/opt/eclipse/icon.xpm
NoDisplay=false
Comment=Integrated Development Enviroment
Categories= Development;IDE;