[Desktop Entry]
Name=Goland
Type=Application
Exec=/opt/{{ app_directory.files[0] }}bin/goland.sh
Terminal=false
Icon=/opt/{{ app_directory.files[0] }}bin/goland.png
NoDisplay=false
Comment=Go IDE for Professional Developers
Categories= Development;IDE;