[Desktop Entry]
Name=Intellij Idea
Type=Application
Exec=/opt/{{ app_directory.files[0] }}bin/idea.sh
Terminal=false
Icon=/opt/{{ app_directory.files[0] }}bin/idea.png
NoDisplay=false
Comment=Java IDE for Professional Developers
Categories= Development;IDE;