[Desktop Entry]
Name=Netbeans
Type=Application
Exec=/opt/netbeans/bin/netbeans
Terminal=false
Icon=/opt/netbeans/nb/netbeans.icns
NoDisplay=false
Comment=netbeans IDE Professional Developers
Categories= Development;IDE;
