[Desktop Entry]
Name=Pycharm
Type=Application
Exec=/opt/pycharm-community-{{ app_latest_version.stdout }}/bin/pycharm.sh
Terminal=false
Icon=/opt/pycharm-community-{{ app_latest_version.stdout }}/bin/pycharm.png
NoDisplay=false
Comment=Python IDE for Professional Developers
Categories= Development;IDE;
